@using Portfolio.Core

@model List<Project>

    <div id="portfolio">

        @{string @title = "Portafolio"; }
        <partial name="_SectionTitle" model="title" />

        @foreach (var project in Model)
        {
            <div>
                Name: @project.ProjectName
            </div>
            <div>
                Description: @project.Description
            </div>
            <div>
                Technologies: @project.Technologies
            </div>
            <hr />
        }
    </div>