@using Portfolio.Core

@model List<Project>

    <div class="portfolio">

        @{string @title = "Portafolio"; }
        <partial name="_SectionTitle" model="title" />

        A lot of things
    </div>