
@using Portfolio.Core

@model List<Skill>

    <div id="skills">
        @{string @title = "Skills"; }
        <partial name="_SectionTitle" model="title" />

        @foreach (var skill in Model)
        {
            <div>
                Skill: @skill.Name
            </div>
            <div>
                Autonomy: @skill.Percentage %
            </div>
            <div>
                Category: @skill.Category
            </div>

            <span><a asp-page="Skills/Delete" asp-route-skillId="@skill.Id" class="btn btn-danger">&#128465;</a></span>

            <hr />
        }

    </div>