
@using Portfolio.Core

@model List<Skill>

    <div class="profile">
        @{string @title = "Skills"; }
        <partial name="_SectionTitle" model="title" />

        @foreach (var skill in Model)
        {
            <div>
                Skill: @skill.Name
            </div>
            <div>
                Autonomy: @skill.Percentage %
            </div>
            <div>
                Category: @skill.Category
            </div>
            <hr />
        }

    </div>