@page "{projectId:int}"
@model Portfolio.Pages.Projects.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Project @Model.Project.ProjectName</h1>

<div class="alert alert-danger">
    Are you sure you want to delete @Model.Project.ProjectName ?
</div>

<form method="post">
    <button type="submit" class="btn btn-danger">Yes!</button>
    <a asp-page="/index" class="btn btn-info">Cancel</a>
</form>



