@page
@model Portfolio.Pages.Projects.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Project</h1>

<form method="post">



    <button type="submit" class="btn btn-dark">Submit</button>
</form>