@page "{educationId:int?}"
@model Portfolio.EditEducationModel
@{
    ViewData["Title"] = "EditEducation";
}

<h1>Edit Education</h1>

<form method="post">

    <input type="hidden" asp-for="Education.Id" />

    <div class="form-group">
        <label asp-for="Education.Title"></label>
        <input asp-for="Education.Title" class="form-control" />
        <span class="text-danger" asp-validation-for="Education.Title"></span>
    </div>

    <div class="form-group">
        <label asp-for="Education.University"></label>
        <input asp-for="Education.University" class="form-control" />
        <span class="text-danger" asp-validation-for="Education.University"></span>
    </div>

    <div class="form-group">
        <label asp-for="Education.DateBegining"></label>
        <input asp-for="Education.DateBegining" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Education.DateEnd"></label>
        <input asp-for="Education.DateEnd" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Save &#128190;</button>

</form>
