@page "{experienceId:int?}"
@model Portfolio.EditExperienceModel
@{
    ViewData["Title"] = "EditExperience";
}

<h1>Edit Experience</h1>

<form method="post">

    <input type="hidden" asp-for="Experience.Id" />

    <div class="form-group">
        <label asp-for="Experience.Company"></label>
        <input asp-for="Experience.Company" class="form-control" />
        <span class="text-danger" asp-validation-for="Experience.Company"></span>
    </div>

    <div class="form-group">
        <label asp-for="Experience.MainFunctions"></label>
        <input asp-for="Experience.MainFunctions" class="form-control" />
        <span class="text-danger" asp-validation-for="Experience.MainFunctions"></span>
    </div>

    <div class="form-group">
        <label asp-for="Experience.Position"></label>
        <input asp-for="Experience.Position" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Experience.DateBegining"></label>
        <input asp-for="Experience.DateBegining" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Experience.DateEnd"></label>
        <input asp-for="Experience.DateEnd" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Save &#128190;</button>

</form>