@using Portfolio.Core

@model List<Education>

    <div class="education">

        <h2>Education</h2>

        @foreach (var study in Model)
        {
            <div>
                @study.Title
            </div>

            <small>
                @study.DateBegining - @study.DateEnd
            </small>

            <div>
                @study.University
            </div>
            
            <hr />
        }
    </div>