
    <div class="profile">
        @{string @title = "Profile"; }
        <partial name="_SectionTitle" model="title" />

        C/C++/C#/Python/Ruby
        <br>
        <br>
        Aeronautical Engineer and Mechanical Engineer passionate about programming. I really like everything related to programming. I have basic knowledge of web development, and robot programming (on a KUKA KR6).

        <br>
        <br>
        I have worked in software development with C++, and .Net. I have worked on video streaming projects and DataHub projects where I have used technologies such as C++ and You.I Engine, .Net Core, AWS, and SQL Server. Besides, I also have worked on personal projects with Javascript and Ruby, involving the creation of my own web page. I have teamwork experience with the SCRUM methodology.

        <br>
        <br>
        Patterns: Singleton; Dependency Injection; Builder; MVC

        <br>
        <br>
        Paradigms: Functional, Object-oriented programming, Procedural

        <br>
        <br>
        Math: Linear algebra; differential, integral, and vector calculus.

        <br>
        <br>
        I enjoy learning new languages; I fluently speak English, French, and Spanish (native). Furthermore, I have an intermediate level of German.
        <br>
        <br>

    </div>