@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Pablo's Portfolio</h1>
</div>


<partial name="PartialView/_AboutMe" model="Model.Information" />
<partial name="PartialView/_Profile" />
<partial name="PartialView/_Experience" model="Model.Experience" />
<partial name="PartialView/_Education" model="Model.Education" />
<partial name="PartialView/_Skills" model="Model.Skills"/>
<partial name="PartialView/_Portfolio" model="Model.Portafolio" />
